CTFD_URL=https://lks.alfianxkomp.my.id
CTFD_TOKEN=ctfd_xxxxxxxxxxxxxxxxxxxxxxxxx
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxxxxxxx/yyyyyyyy

BOT_HOST=0.0.0.0
BOT_PORT=3892
POLL_INTERVAL=20

ANNOUNCE_SOLVES=false
ANNOUNCE_HIDDEN_CHALLENGES=false
SKIP_EXISTING_ON_FIRST_RUN=true

BOT_NAME=CTFd Treasure Watcher
BOT_AVATAR_URL=
